// Place all the styles related to the portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
ol li {
  border-style: groove;
  border-width: thick;
  padding: 5px;
  margin: 20px;
  list-style: none;
  margin-bottom: 30px;
}

.name {
  font-size: 20px;
}

.linkBox {
  position: relative;
  width: 50%;
  margin: 0 auto;
  .portfolio_url {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.name_box {
  width: 50%;
  margin: 0 auto;
}

.box {
  margin-left: 10px;
}

.portfolios {
  width: 100%;
  margin: 0 auto;
}
