// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cat {
  text-align: center;
}

.description_home {
  width: 900px;
  margin: 0 auto;
}

.button {
  text-align: center;
  a {
    margin-left: 20px;
  }
}

.container {
  background-image: url("pexels-hasan-albari-1229861.jpg");
}
