// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.title {
  font-size: 25px;
}

.description {
  font-size: 20px;
}

.users {
  width: 50%;
  margin: 0 auto;
}
