  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
    <%= link_to "portfolio app",  root_path , id:"logo" %>
    <nav>
    <ul class="nav navbar-nav navbar-right">
    <li><%= link_to "Login in", "#"%></li>
    <li><%= link_to "Login up", signup_path %></li>
    </ul>
    </nav>
  </header>
